@font-face {
    font-family: 'h1Font'; /*a name to be used later*/
    src: url('./fonts/Oswald/Oswald-Bold.ttf'); /*dir to font*/
}
@font-face {
    font-family: 'labelFont'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-Regular.ttf'); /*dir to font*/
}
h2{
  font-size: 23px;
}
h1 {
position: relative;
float: none;
color: black;
font-size: 40px;
font-family: h1Font;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
margin-top: 40px;
}
.create-team {
  position: relative;
  float: none;
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top: 320px;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label {
  font-weight: bold;
  font-size: 18px;
  padding-top:6px;
  padding-bottom: 6px;
  color:black;
  font-family: labelFont;
}

body{
   background-size: cover;
}

.input-group {
  margin: 20px 0;
}
#brand{
  color: white;
  font-family: labelFont;
}
#navbarDropdownMenuLink{
  color: white;
}
a:hover{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px blue;
}
