@font-face {
    font-family: 'h1Font'; /*a name to be used later*/
    src: url('./fonts/Oswald/Oswald-Bold.ttf'); /*dir to font*/
}
@font-face {
    font-family: 'labelFont'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-Regular.ttf'); /*dir to font*/
}
img{
    height: 175px;
    width: 50%;
  }
  .card{
    margin: auto;
    width: 30%;
    padding: 5px;
    text-align: center;
  }

  .team {
    width: 100%
  }

  .myTeam {
    width: 100%
  }
  #brand{
    color: white;
    font-family: labelFont;
  }
  #navbarDropdownMenuLink{
    color: white;
  }
  a:hover{
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px blue;
  }
  
  .hidden {
    display: none;
  }
