img{
    height: 175px;
    width: 50%;
  }
  .card{
    margin: auto;
    width: 30%;
    padding: 5px;
    text-align: center;
  }

  .team {
    width: 100%
  }

  .myTeam {
    width: 100%
  }

  .hidden {
    display: none;
  }
