@font-face {
    font-family: 'h1Font'; /*a name to be used later*/
    src: url('./fonts/Oswald/Oswald-Bold.ttf'); /*dir to font*/
}
@font-face {
    font-family: 'labelFont'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-Regular.ttf'); /*dir to font*/
}
img{
  height: 175px;
  width: 50%;
}
h1{
  font-family: 'h1Font';
  color: #e5e5ff;
  font-size: 80px;
}
h2{
  font-size: 30px;
  color: #d4d4dc;
  font-family: labelFont;
}
h3{
  font-family: labelFont;
  font-size: 40px;
  color: #d4d4dc;
}
.card{
  margin-bottom: 5px;
  margin: auto;
  width: 30%;
  padding: 5px;
  text-align: center;
}
p{
  font-family: sans-serif;
  font-size: 20px;
  color: #d4d4dc;
}
.jumbotron{
background:
       /* top, transparent black, faked with gradient */
       linear-gradient(
         rgba(0, 0, 0, 0.7),
         rgba(0, 0, 0, 0.7)
       ),
       /* bottom, image */
       url('https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') fixed center no-repeat;
       background-size: cover;
       padding-top: 12%;
       padding-bottom: 12%;
   }
#brand{
  color: white;
  font-family: labelFont;
}
#navbarDropdownMenuLink{
  color: white;
}
a:hover{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px blue;
}
.card{
  margin-top: 20px;
  margin-bottom: 20px;
}
