@font-face {
    font-family: 'h1Font'; /*a name to be used later*/
    src: url('./fonts/Oswald/Oswald-Bold.ttf'); /*dir to font*/
}
@font-face {
    font-family: 'labelFont'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-Regular.ttf'); /*dir to font*/
}
h1 {
padding-top: 10px;
position: relative;
float: none;
color: black;
font-size: 50px;
font-family: h1Font;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
margin-top: 40px;
background-image: image();

}
.show-team {
  position: relative;
  float: none;
  text-align: center;
  padding: 15px;
  margin-top: 320px;
}

label {
  font-weight: lighter;
  font-size: 30px;
  padding-top:6px;
  color:black;
  font-family: labelFont;
}
body{
   background-size: cover;
}
.col-md-6{
text-align: center;
}
h2{
  font-family: h2Font;
  border-bottom: 2px solid currentColor;
  font-size: 35px;
  font-weight: bold;
}
.card{
  margin: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}
.chip{
  margin: 8px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}
#team-des{
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}
div{
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: left;
}
#brand{
  color: white;
  font-family: labelFont;
}
#navbarDropdownMenuLink{
  color: white;
}
a:hover{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px blue;
}
