h1 {
padding-top: 10px;
position: relative;
float: none;
color: black;
font-size: 50px;
font-family: monospace;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
margin-top: 40px;

}
.show-team {
  position: relative;
  float: none;
  text-align: center;
  padding: 15px;
  margin-top: 320px;
}

label {
  font-weight: bold;
  font-size: 30px;
  padding-top:6px;
  color:black;
  font-family: monospace;
}
body{
   background-size: cover;
}
.col-md-6{
text-align: center;
}
h2{
  border-bottom: 2px solid currentColor;
  font-size: 35px;
  font-weight: bold;
}
.card{
  margin: 20px;
  font-size: 15px;
}
.chip{
  margin: 8px;
}
#team-des{
  text-align: left;
  font-size: 20px;
}
div{
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: left;
}
