h1 {
position: relative;
float: none;
color: black;
font-size: 40px;
font-family: monospace;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
margin-top: 40px;

}
.show-team {
  position: relative;
  float: none;
  text-align: center;
  padding: 15px;
  margin-top: 320px;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label {
  font-weight: bold;
  font-size: 18px;
    padding-top:6px;
    color:black;
    font-family: monospace;
}

body{
   background-size: cover;
}
.col-md{
  
}

.card {
  margin: 20px;
}