@font-face {
    font-family: 'h1Font'; /*a name to be used later*/
    src: url('./fonts/Oswald/Oswald-Bold.ttf'); /*dir to font*/
}

@font-face {
    font-family: 'h2Font'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-BoldItalic.ttf'); /*dir to font*/
}

@font-face {
    font-family: 'labelFont'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-Regular.ttf'); /*dir to font*/
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 8px 4px 8px 4px;
    border: 1px solid black
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
    color: #000;
}
