h1 {
  position: relative;
  float: none;
  color: black;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-top: 40px;
}

label {
  font-weight: bold;
  font-size: 18px;
  padding-top:6px;
  color:black;
  font-family: monospace;
}

body {
   background-size: cover;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chip {
  margin-top: 10px;
}

#sign-in {
  font-weight: bold;
  font-size: 2em;
  color: black;
  font-family: monospace;
}

#welcomeMessage {
  margin-top: 25px;
}

#submit {
  margin-top: 20px;
}
