@font-face {
    font-family: 'h1Font'; /*a name to be used later*/
    src: url('./fonts/Oswald/Oswald-Bold.ttf'); /*dir to font*/
}
@font-face {
    font-family: 'labelFont'; /*a name to be used later*/
    src: url('./fonts/Roboto/Roboto-Regular.ttf'); /*dir to font*/
}
h2{
  font-size: 23px;
}
h1 {
position: relative;
float: none;
color: #e5e5ff;
font-size: 60px;
font-family: h1Font;
line-height: 1;
text-align: center;
margin-top: 15px;
}

#editProfileForm {
  position: relative;
  float: none;
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top: 320px;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#welcomeMessage, #sign-up{
  font-weight: bold;
  font-size: 2em;
  color: black;
  font-family: monospace;
}

label {
  font-weight: bold;
  font-size: 18px;
    padding-top:6px;
    color:black;
    font-family: monospace;
}

body{
   background-size: cover;
}
#brand{
  color: white;
  font-family: labelFont;
}
#navbarDropdownMenuLink{
  color: white;
}
a:hover{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px blue;
}
#userPicture{
  border: 2px solid white;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}
